<!DOCTYPE html>
<html>
  <head>
    <title>Carrito de Compras</title>
 <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    {{>header}}

    {{#if productos_carrito}}
    <section class="product-list">
      {{#each productos_carrito}}
        <article class="product">
            <div class="product-img">
                <img class="img-p" src="/producto/{{ID_PRO}}/{{PT_IMG}}" alt="Xbox en venta">
            </div>
            <div class="product-details">
                <h2>{{NOM_PRO}}</h2>
                <p>{{DESC_PRO}}</p>
                <span class="price" >Precio unitario: {{formatoNumero PAGO_TOT}}</span>
                <br>
                <span class="price" >Precio total: {{formatoNumero PAGO_TOT_PRODUCTOS}}</span>
                <br>
                <span class="cantidad">Cantidad: {{CANT_PRO}}</span>
            </div>
            <div>
              <button id="eliminar_carrito" data-product-carrito-id={{ID_PRO}} data-precio-pro={{PRECIO_PRO}}>Eliminar</button>
            </div>
        </article>
        {{/each}}
    </section>
    <div class="envio">

      <p class="centro">Pago total: {{formatoNumero PAGO_TOT_CARRITO}} </p>
      <div class="centrarBtn">
      <button id="btn_formulario_envio" class="boton-F">Formulario de envio</button>
      </div>
    </div>

    {{else}}
    <h1>NO HAY PRODUCTOS EN EL CARRITO</h1>
    {{/if}}
    <div class="cen">
    <div id="envio_pedido" class="inactive">
      <div class="contene">
    
      <form action="#">

        <div class="form-row">
            <div class="input-data">
               <input type="text" id="direccion" name="direccion" autocomplete="off" oninput="validarLet(this)" required>
               <div class="underline"></div>
               <label for="">Dirección: *</label>
            </div>
            <div class="input-data">
               <input type="text" id="estado" name="estado" autocomplete="off" oninput="validarLet(this)" required>
               <div class="underline"></div>
               <label for="">Estado: *</label>
            </div>
         </div>
 
        <div class="form-row">
            <div class="input-data">
               <input type="text" id="ciudad" name="ciudad" autocomplete="off" oninput="validarLet(this)" required>
               <div class="underline"></div>
               <label for="">Ciudad: *</label>
            </div>
            <div class="input-data">
               <input type="text" id="codigo_postal" name="codigo_postal" autocomplete="off" oninput="validarNum(this)" maxlength="5" required>
               <div class="underline"></div>
               <label for="">Código postal: *</label>
            </div>
         </div>
        
        <div class="form-row">
            <div class="input-data">
               <input type="text" id="telefono" name="telefono" autocomplete="off" oninput="validarNum(this)" maxlength="20"  required>
               <div class="underline"></div>
               <label for="">Teléfono: * ejemplo: 833 449 8270</label>
            </div>

        <button id="boton_envio" class="boton-F">Realizar pedido</button>
      </form>
      </div>
  </div>
  </body>
  <script src="/js/eliminar_carrito.js"></script>
  <script src="/js/restricciones.js"></script>
   <script src="/js/filtros.js"></script>
  <script src="/js/envio_btn.js"></script>
   <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
</html>