<!DOCTYPE html>
<html>
<head>
    <title>Busqueda por filtros</title>
     <link rel="stylesheet" href="/css/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    {{>header}}

{{#if filtro}}
 <section class="product-list">
      {{#each filtro}}

              <div id="imagenContainer" class="container">
        <label style="color: green;"  for="imagenInput" id="agregarImagenLabel">Agregar Imagen *</label>

        <input style="color: blue;" type="file" id="i2" accept="image/*" name="images">

    </div>

    <form id="productoForm" class="container">
        <h1>Formulario del anuncio</h1>
        <div class="form-group">
            <label style="color: red;"  for="nombreProducto">Nombre: *</label>
            <input type="text" id="nombreProducto" autocomplete="off" required >
        </div>

        
 <button type="button" id="guardarProducto" class="btn">Guardar</button>
    </form>
        {{/each}}
        </article>
         {{else}}
          <div id="imagenContainer" class="container">
        <label style="color: green;"  for="imagenInput" id="agregarImagenLabel">Agregar Imagen *</label>

        <input style="color: blue;" type="file" id="i2" accept="image/*" name="images">

    </div>

    <form id="productoForm" class="container">
        <h1>Formulario del anuncio</h1>
        <div class="form-group">
            <label style="color: red;"  for="nombreProducto">Nombre: *</label>
            <input type="text" id="nombreProducto" autocomplete="off" required >
        </div>

        
 <button type="button" id="guardarProducto" class="btn">Guardar</button>
    </form>
    {{/if}}
    </section>
        
        <section class="paginacion">
			<ul>
                {{#each prueba}}
				<li><a href="/filtro/{{filtro_p}}/{{filtro_f}}?pagina={{id}}" class="active">{{id}}</a></li>
          
            {{/each}}
			</ul>
		</section>

    {{> footer}}

</body>
<script src="/js/barraBusqueda.js"></script>
 <script src="/js/filtros.js"></script>
 <script src="/js/carrito.js"></script>
 <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/sweetalert2.min.js"></script>
</html>